.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {

  --clr-1: #052b2f;

  --clr-2: #2e656a;

  --clr-3: #0e4b50;

  --clr-4: #2d8f85;

  --clr-5: #637c54;

}


h1{
  font-weight: bold;
  color: purple;
}
.title{
  width: 100%;
  height: 10%;
}
.text{
  height: 90%;
  width: 50%;
}
.whatisUML{
  height: auto;
  width: 50%;
  border: 5px double var(--clr-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.split{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}